.main-wrapper {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding-left: 100px;
}

.title {
    font-size: 60px;
    line-height: 70px;
    color: hsl(260, 8%, 14%);
}

.subheading {
    color: hsl(0, 0%, 75%);
    padding-right: 12rem;
    line-height: 2;
}

.main-left, .main-right {
    width: 100%;
}

.main-left {
    margin-top: 8rem;
}

.main-right {
    margin-top: 3rem;
}

.getstarted {
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    font-weight: 700;
    word-spacing: 2px;
    cursor: pointer;
    margin-top: 1.8rem;
    font-size: 18px;
}

.getstarted:hover {
    opacity: 0.5;
}

@media (max-width: 900px) {
    .main-wrapper {
        flex-direction: column;
        padding-left: 0px;
    }
    .main-left {
        order: 2;
        text-align: center;
        margin-top: 2rem;
    }
    .title {
        font-size: 40px;
        line-height: 45px;
    }
    .subheading {
        padding-right: 0rem;
        line-height: 1.5;
        margin: 10px 20px;
    }
    .main-right {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        max-width: 100%;
        height: auto;
        margin-left: 20px;
    }
    .illustrator {
        max-width: 100%;
    }
    .getstarted {
        margin-top: 1rem;
    }
}