/* .intro {
    padding: 0 0 13.8rem;
} */
/* @media only screen and (max-width: 1150px) {
    .intro {
        padding: 0;
   }
} */
.intro__container {
    margin-top: 7.8rem;
    padding-left: 11.4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
@media only screen and (max-width: 1150px) {
    .intro__container {
        padding: 0;
        flex-direction: column-reverse;
        text-align: center;
   }
}
@media only screen and (max-width: 700px) {
    .intro__container {
        margin-top: 2.3rem;
   }
}
.intro__content {
    width: 40vw;
}
@media only screen and (max-width: 1150px) {
    .intro__content {
        width: 100%;
        max-width: 80rem;
        padding: 0 11.4vw;
   }
}
@media only screen and (max-width: 600px) {
    .intro__content {
        padding: 0 6.4vw;
   }
}
.intro__text {
    width: 90%;
    margin: 0.5rem 0 3.8rem;
    color: hsl(0, 0%, 75%);
}
@media only screen and (max-width: 1150px) {
    .intro__text {
        width: 100%;
        margin: 1.5rem 0 3.2rem;
   }
}
.intro__img {
    width: 49vw;
    transform: translateX(20%);
}
.intro__img img {
    width: 100%;
}
@media only screen and (max-width: 1150px) {
    .intro__img {
        transform: none;
        margin-bottom: 3.8rem;
        width: 100%;
        max-width: 80rem;
        padding: 0;
   }
}
@media only screen and (max-width: 600px) {
    .intro__img {
        padding-left: 6.4vw;
        overflow: hidden;
   }
    .intro__img img {
        width: 100%;
   }
}
.btn {
    background-color: #2acfcf;
    color: #fff;
    font-weight: 700;
    display: inline-block;
    overflow: hidden;
    transition: background-color 0.5s;
    outline: none;
    cursor: pointer;
    font-family: inherit;
    border: none;
}
.btn:hover {
    background-color: #9ae3e3;
}
.btn--round {
    border-radius: 100px;
}
.btn--lg {
    padding: 1rem 3rem;
}

.heading-1 {
    font-size: 7rem;
    line-height: 1.125;
}
@media only screen and (max-width: 600px) {
    .heading-1 {
        font-size: 4.2rem;
        letter-spacing: -1.05px;
        line-height: 1.143;
   }
}
