@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

#getStartedSection {
    text-align: center;
    font-weight: 700;
    font-family: Poppins;
    background: #3A3054;
    background-image: url("../images/bg-boost-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#getStartedSection h1{
    padding: 30px 0;
    font-weight: 700;
    color:#fff;
    font-size: 3.5em;
}
@media (max-width: 500px) {
    #getStartedSection h1 {
        font-size: 2em;
    }
}
#getStartedSection img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
#getStartedSection button{
    background: #2acfcf;
    border-radius: 28px;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-weight: 700;
}
#getStartedSection button:hover {
    background-color: #9ae3e3;
    cursor: pointer;
    transition: all 0.6s ease-out;
}