@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    text-align: center;
    font-weight: 700;
    font-family: Poppins;
    background: #3A3054;
    background-image: url("../images/bg-boost-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    padding: 30px 0;
    font-family: Poppins;
    font-weight: 700;
    color:#fff;
}
section img{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 2;
}
button{
    background: #9AE3E3;
    border-radius: 28px;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-weight: 700;
}
