header, .nav-list {
    display: flex;
    justify-content: space-between;
}

header {
    margin: 20px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
}

.nav-list {
    gap: 20px;
    align-items: center;
}

.nav-list ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: hsl(0, 0%, 75%);
}

.nav-list ul li:hover {
    color: hsl(255, 11%, 22%);
    cursor: pointer;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#login-btn {
    background: none;
    border: none;
    color: hsl(0, 0%, 75%);
    cursor: pointer;
}

#login-btn:hover {
    color: hsl(255, 11%, 22%);
}

#signup-btn {
    border: none;
    padding: 10px 25px;
    border-radius: 50px;
    color: #fff;
    background-color: hsl(180, 66%, 49%);
    cursor: pointer;
}

#signup-btn:hover {
    opacity: 0.5;
}