*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 75%);
}

::selection {
  background-color: #2acfcf;
  color: #fff;
}

.main {
  padding: 0 11.4vw 12rem;
  background-color: #eff1f7;
}

@media only screen and (max-width: 600px) {
  .main {
    padding: 0 6.4vw 8rem;
 }
}

.header {
  padding: 0 11.4vw;
  display: flex;
  align-items: center;
  position: relative;
  margin: 30px 0;
}

.header__nav-toggle, .header__seperator {
  display: none;
}

.header__navigation {
  margin-left: 4.6rem;
  flex: 1;
}

.header__nav-list, .header__nav-start, .header__nav-end {
  display: flex;
  align-items: center;
}

.header__nav-end {
  margin-left: auto;
}

.header__nav-link {
  font-weight: 700;
  font-size: 1.5rem;
  transition: color 0.5s;
}

.header__nav-link:hover {
  color: #34313d;
}

.header__nav-start .header__nav-link:not(:last-child) {
  margin-right: 2.9rem;
}

@media only screen and (max-width: 900px) {
  .header__nav-start .header__nav-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3.2rem;
 }
}

.header__nav-end .header__nav-link:not(:last-child) {
  margin-right: 3.7rem;
}

@media only screen and (max-width: 900px) {
  .header__nav-end .header__nav-link:not(:last-child) {
    margin-right: 0;
    margin-bottom: 2.6rem;
 }
}

@media only screen and (max-width: 900px) {
  .header {
    padding: 0 6.4vw;
    justify-content: space-between;
 }
  .header__nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.4rem;
    height: 2.1rem;
 }
  .header__nav-toggle--line {
    width: 100%;
    height: 3px;
    background-color: #9e9aa7;
 }
  .header__navigation {
    position: absolute;
    margin: 0;
    left: 6.4vw;
    right: 6.4vw;
    top: calc(100% + 2.3rem);
    text-align: center;
    max-height: 0;
    overflow: hidden;
    z-index: 999;
    transition: max-height 0.5s;
 }
  .header__navigation.active {
    max-height: 40rem;
 }
  .header__nav-list, .header__nav-start, .header__nav-end {
    flex-direction: column;
    margin: 0;
    width: 100%;
 }
  .header__nav-list {
    background-color: #3b3054;
    padding: 4rem 6.4vw;
    border-radius: 10px;
 }
  .header__nav-link {
    color: #fff !important;
    font-size: 1.8rem;
 }
  .header__seperator {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #9e9aa7;
    opacity: 0.25;
    margin: 3.2rem 0;
 }
  .header__btn {
    align-self: stretch;
    font-size: 1.8rem;
    padding: 1.2rem 0;
 }
}

.btn {
  background-color: #2acfcf;
  color: #fff;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  transition: background-color 0.5s;
  outline: none;
  cursor: pointer;
  font-family: inherit;
  border: none;
}

.btn:hover {
  background-color: #9ae3e3;
}

 .btn--round {
  border-radius: 100px;
}

 .btn--square {
  border-radius: 10px;
}

 .btn--sm {
  padding: 0.9rem 2.4rem;
  font-size: 1.5rem;
}

 .btn--md {
  padding: 0.9rem 3.1rem;
  font-size: 1.5rem;
}

 .btn--lg {
  padding: 1.4rem 4rem;
  font-size: 2rem;
}

 .btn--hg {
  padding: 1.8rem 4rem;
  font-size: 2rem;
}

 .btn__text--copied {
  display: none;
}

 .btn.copied {
  background-color: #3b3054 !important;
}

 .btn--md.copied {
  padding: 0.9rem 2.1rem;
}

 .btn.copied  .btn__text--copy {
  display: none;
}

 .btn.copied  .btn__text--copied {
  display: block;
  animation: slideFromLeft 0.3s;
}

@media only screen and (max-width: 1150px) {
   .btn.copied  .btn__text--copied {
    animation: slideFromLeftMobile 0.3s;
 }
}
@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
 }
  100% {
    opacity: 1;
    transform: translateX(0);
 }
}
@keyframes slideFromLeftMobile {
  0% {
    opacity: 0;
    transform: translateX(-100rem);
 }
  100% {
    opacity: 1;
    transform: translateX(0);
 }
}