@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
    font-family: 'Poppins';
}

.wrapper {
    display: flex;
    justify-content: space-between;
    background-color: #232127;;
    padding-top: 70px;
    padding-right: 162px;
    padding-bottom: 72px;
    padding-left: 162px;
}

.list{
    display: flex;
    gap: 50px;
    font-family: 'Poppins';
}
.list-title ul{
    flex-direction: column;
    list-style: none;
    display: flex;
}
 .list h3{
    display: flex;
    /* padding: 10px 0; */
}
.list-title li{
    color: #BFBFBF;
    padding: 7px 0;
}
.list-title li a{
    color: #BFBFBF;
    text-decoration: none;
}
.list-title li a:hover{
    color: #2BD0D0;
    text-decoration: none;
}

.media {
    display: flex;
    gap: 20px;
}

.media .hoover_state:hover {
    color: #2BD0D0;
}

.hoover_state{
    font-size: 24px;

}


@media (max-width: 950px){
    .wrapper{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

}
@media (max-width: 1024){
    .wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}
@media only screen and (max-width: 600px){
    .list{
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        line-height: 20px;
    }
    /* list h3{
        text-align: center;
        line-height: 20px;
    } */
}
@media (max-width: 375){
    
}
@media (max-width: 375){
    
}